<div class="sidenav">
  <!-- <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a> -->  
  <a href="http://" target="_blank" rel="noopener noreferrer">Dashboard</a>
  <button class="dropdown-btn">Sales 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/api/v1/sale">Sale</a> 
    <a href="#">Sale Return</a>
  </div>
  <button class="dropdown-btn">Contacts 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <!-- <a href="#"></a> -->
    <a href="/contact">Add Contact</a> 
    <a href="/customers">Customers</a>
    <a href="/suppliers">Suppliers</a>
  </div>
  <button class="dropdown-btn">Products 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/product">Add Product</a>
    <a href="/service">Add Service</a>  
    <a href="/products">Product List </a>
    <a href="/services">Service List</a>
    <!-- <a href="#">Brand</a> 
    <a href="#">Add Product</a> -->
    
  </div>

  <button class="dropdown-btn">Purchases
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/purchase">Add Purchase Order</a>
    <a href="/purchases">Purchase List  </a>  
    <a href="/purchaseReturns">Product Return List </a>
    <!-- <a href="#">Brand</a> 
    <a href="#">Add Product</a> -->
    
  </div>


 
  
    

  <a href="#contact">Search</a>
</div>          